<!--Template drivedn form
{{ myForm.value | json }}-->
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div ngModelGroup = "userDetails" #userDetails="ngModelGroup">
    <div class="form-group" rounded shadow bg-white>
      <label for="username">Username*</label>
      <input type="text" class="form-control" id="username" name ="username" placeholder="Enter username" required [(ngModel)] = "username">
      <small *ngIf = "username">Your username is {{username}}</small>
      <button class="btn btn-primary mt-2" (click)="setUsername()">Set Username</button>
      
    </div>
    <div class="form-group">
      <label for="email">Email*</label>
      <input type="email" class="form-control" id="email" name = "email" placeholder="Enter email" required ngModel email #email="ngModel">
      <small class="text-danger" *ngIf="!email.valid && email.touched">Enter valid email</small>
    </div>
  </div>
  <span class="text-danger" *ngIf="!userDetails.valid && userDetails.touched">Please enter valid details</span>
    <div class="form-group">
        <label for="course">Select course</label>
        <select class="form-control" id="course" name="course" [ngModel]="defaultCourse">
            <option value="Angular">Angular</option>
            <option value="React">React</option>
            <option value="Vue">Vue</option>
        </select>
      </div>
      <div class="form-group">
        <div class="custom-control custom-radio" *ngFor="let gender of genders">
          <input type="radio" id="{{ gender.id }}" name="gender" class="custom-control-input" [ngModel]="defaultGender" value="{{ gender.value }}">
          <label class="custom-control-label" for="{{ gender.id }}">{{ gender.value }}</label>
        </div>
      </div>
    <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Submit</button>
  </form>

  <div>
    <div *ngIf='submitted'>
      <h2>Form Data</h2>
      <p>Username: {{ formData.username }}</p>
      <p>Email: {{ formData.email }}</p>
      <p>Course: {{ formData.course }}</p>
      <p>Gender: {{ formData.gender }}</p>
    </div>
  </div>

  <!-- Reactive Form
  <div>
    <div>
      <form [formGroup]="myReactiveForm">
          <div class="form-group">
            <label for="username">Username*</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
          </div>
          <div class="form-group">
              <label for="course">Select course</label>
              <select class="form-control" id="course">
                  <option value="Angular">Angular</option>
                  <option value="React">React</option>
                  <option value="Vue">Vue</option>
              </select>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio" *ngFor="let gender of genders">
                <input type="radio" id="{{ gender.id }}" name="gender" class="custom-control-input" [ngModel]="defaultGender" value="{{ gender.value }}">
                <label class="custom-control-label" for="{{ gender.id }}">{{ gender.value }}</label>
              </div>
            </div>
          <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Submit</button>
        </form>
    </div>
  </div> -->