<div class="page-area">
    <div class="text-center">
        <h2>Products</h2>
        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        <hr class="mb-3">
    </div>

<div class="row">
    <div class="col-md-10">
        <div class="equalHMVWrap eqWrap">
            <div class="equalHMV eq">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/laptop.jfif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card title.</p>
                    <a routerLink="laptop" class="btn btn-success">Know More</a>
                </div>
            </div>
            </div>
    
        <div class="equalHMV eq">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/mobile.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title.</p>
              <a routerLink="mobile" class="btn btn-success">Know More</a>
            </div>
          </div>
        </div>
    
        <div class="equalHMV eq">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tv.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Television</h5>
              <p class="card-text">Some quick example text to build on the card title.</p>
              <a routerLink="tv" class="btn btn-success">Know More</a>
            </div>
          </div>
        </div>
    
        <div class="equalHMV eq">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/washing_machine.jfif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Washing Machine</h5>
              <p class="card-text">Some quick example text to build on the card title.</p>
              <a routerLink="washing-machine" class="btn btn-success">Know More</a>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
</div>
</div>

  